doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="baidu-site-verification" content="en3mfKnYka")
        title ...
        link(rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico")
        block style
    body
        block header

        block content

        // include ./base/footer.jade

        //- block script
        block script
            script(src="/static/js/lib/jquery.min.js")


        block common-script
